<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>360商城 - 我的购物袋</title>
    <link rel="stylesheet" href="../css/public.css">
    <link rel="stylesheet" href="../css/Style.css">
    <link rel="stylesheet" href="../css/Cart.css">
    <script src="../js/jquery.js"></script>
    <!--<script src="../js/jquery.cookie.min.js"></script>-->
    <script src="../js/Cart.js"></script>
</head>
<body>
<!--<header></header>-->
<section id="content">
    <div class="layout">
        <div id="header-title">
            <h3>回到 <span><a href="../index.html">首页</a></span></h3>
            <span>|</span>
            <h4>请在倒计时结束前提交订单，下单后你另有 30 分钟的支付时间。</h4>
        </div>
        <div id="box">
            <dl>
                <dt>
                    <p>精选特卖</p>
                    <p>单价</p>
                    <p>数量</p>
                    <p>小计</p>
                    <p>操作</p>
                </dt>
                <dd id="goods">

                </dd>
                <dd class="priceBox">
                    <p>总金额(未含运费) <span id="grossAmount">¥0</span></p>
                </dd>
                <dd class="windup">
                    <a href="#">立即结算</a>
                </dd>
            </dl>
        </div>
    </div>
</section>
</body>
</html>