<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>mall360</title>
    <link rel="shortcut icon" href="../favicon.ico"/>
    <link rel="stylesheet" href="../css/public.css">
    <link rel="stylesheet" href="../css/Style.css">
    <link rel="stylesheet" href="../css/Details.css">

    <script src="../js/jquery.js"></script>
    <!--<script src="../js/jquery.cookie.min.js"></script>-->
    <!--<script src="../js/js.js"></script>-->
    <script src="../js/Details.js"></script>

</head>
<body>
<!--<header></header>-->
<!--<section id="nav"></section>-->
<div id="details">
    <div id="nav_title">
        <span><a href="../Index.html">首页</a> > <a href="#">专场</a> > </span><span></span>
    </div>
    <div id="view">
        <img src="../images/123.png" alt="">
    </div>
    <div id="introduce">
        <div class="country"></div>
        <h3></h3>
        <div class="price_box"></div>
        <div class="freight">
            <span>运费</span>
            <span>（订单满28免运费）</span>
        </div>
        <div class="count">
            <span>数量</span>
            <div>
                <a href="#" class="vipFont btn_num_de disabled" disabled></a>
                <input type="number" value="1" id="numbuy" min="1">
                <a href="#" class="vipFont btn_num_add"></a>
            </div>
        </div>
        <a href="#" class="btn_add">
            <span class="vipFont"></span>
            <span>加入购物袋</span>
        </a>
    </div>
</div>
</body>
<script type="text/javascript">

</script>
</html>